.herovideo {
  width:100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  pointer-events: none;
  opacity: 0.5;
  
}

.tagline {
  text-align: center;
  margin: auto;
  position: absolute;
  z-index: auto;
  top: 35vh;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 60%;
  height: fit-content;
  color: var(--white,white);
  z-index:1;
  font-family: roboto, sans-serif;

}

.wrapper {
  height:70vh;
  background-color: black;
}

@media only screen and (max-width:768px){
  .tagline{
    width:85%;
  }
  
}
