.footer {
  gap: 1rem;
  grid-template-areas:
    "sub div links"
    "social logo hours"
    "order logo hours";

  @media only screen and (max-width: 500px) {
    justify-content: center;
    align-items: center;
    gap:2rem;
    grid-template-areas:
      "sub"
      "social"
      "order"
      "logo"
      "hours"
      "links";
  }
}

.footer:nth-child(n) {
  box-sizing: border-box;

  @media only screen and (max-width: 500px) {
    text-align: center;
    justify-content: center;
    width: 100%;
  }
}

.divider {
  height: 95%;
  width: 4px;
  border-radius: 500px;
  background-color: var(--white, white);
  grid-area: div;
  margin: auto;
  @media only screen and (max-width: 500px) {
    display: none;
  }
}

.sub {
  grid-area: sub;
  width: 40vw;
  @media only screen and (max-width: 500px) {
    width: 100%;
  }
}

.links {
  grid-area: links;
  width: 40vw;
  @media only screen and (max-width: 500px) {
    width: 100%;
    text-align: center;
  }
}

.social {
  grid-area: social;
}

.logo {
  grid-area: logo;
}

.hours {
  grid-area: hours;
}

.order {
  grid-area: order;
}
