.holster {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column nowrap;
    font-family: monospace;
    

  }
  .container {
    width: 100%;
    display: flex;
    margin: 1em auto;
    flex: none;
    overflow-x:scroll;
    flex-flow: row nowrap;
    overflow-y: hidden;
    gap:1rem;
    scroll-snap-type: x mandatory;
    padding:0 1rem;
  }

  .container::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  .container::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0);
  }
  
  .container::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }

  
  .container > div {
    width: 40vw;
    height: 50vh;
    background-color: grey;
    scroll-snap-align: none center;
    flex: none;

    @media only screen and (max-width:768px) {
        width:85vw;
        scroll-snap-align: none center;
        
    }
  }