@tailwind base;
@tailwind components;
@tailwind utilities;




@font-face {
  font-family: "wilden";
  src: url("wilden-webfont.woff2") format("woff2"),
    url("wilden-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --black: #2b2b2b;
  --white: #ededed;
  --green: #69bf4a;
  --yellow: #e3c23b;
  --grey: #707070;
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}

body {
  background: #ededed;
  width: 100%;
}

.section {
  width: 100%;
  height: 85vh;
}

section {
  width: 100%;
}

.bg-1 {
  background-image: url("/images/brick.svg");
  background-repeat: repeat;
}

.bg-2 {
  background-image: url("/images/paperBG.jpg");
  background-color: var(--black, #2b2b2b);
  background-size: cover;
  background-blend-mode: color-burn;
  color: var(--white, white);
}

.bg-3 {
  background-image: url("/images/logo-full.svg");
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: -20% 50%;

  @media only screen and (max-width: 768px) {
    background-size: 90%;
    background-position: -200% 50%;
  }

  @media only screen and (max-width: 500px) {
    background-size: 100%;
    background-position: top left -6rem;
  }
}

.tagline {
  display: grid;
  place-content: center center;
  text-align: center;
  width: 100%;
  min-height: 20vh;
  padding: 2rem;
  font-family: "Wilden", "Rubik", sans-serif;


}

.parallax-fixed{
  background-attachment: fixed;

  @media only screen and(max-width:768px) {
    background-attachment: scroll;
    
  }

}

.display-1 {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
}

.display-2 {
  font-family: wilden, sans-serif;
}

.btn {
  font-family: "Rubik", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1.75rem;
  padding: 0.75rem;
  letter-spacing: 3px;
  outline: solid 5px var(--white, white);
  transition: 1s fade-in ease-in-out;
  vertical-align: middle;
}

.btn:hover {
  transition: 1s fade-in ease-in;
  background-color: var(--green, green);
  outline: none;
}


.center{
  position: absolute;
  top: 50%;
  left:50%;
  transform:translate(-50%,-50%);
}

.initial {
  opacity: 0;
  filter: blur(5px);
  transition: all .5s;
}
.show {
  opacity: 1;
  filter: blur(0);  
}



