@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 1.15, 1.15);
    transform: scale3d(1.15, 1.15, 1.15);
  }
}

.socials {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2.25rem;
  gap: 1rem;

  @media only screen and (max-width: 425px) {
    font-size: 3rem;
  }
}

.socials > li:hover {

  animation: pulse .5s  2 forwards ;
  animation-fill-mode:forwards;
  
}

.light {
  color: var(--white, white);
}
