@keyframes fadeInRightBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.list {
  box-sizing: border-box;
  margin: auto;
  width: 50%;
  height: 100%;
  font-family: Rubik, sans-serif;
  color: var(--white);
  font-weight: 800;
  text-transform: uppercase;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  @media only screen and (max-width: 426px) {
    width: 100%;
    margin: 0 auto;
    align-items: center;
  }
}

.list > a {
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  display: block;
  letter-spacing: 3px;
  margin: 1rem 0;
  text-align: left;
  width: min-content;

  @media only screen and (max-width: 426px) {
    margin: 0.5rem auto;
    text-align: center;
  }
}

.list > a:hover {
  color: var(--green);
  transition: all 0.2s ease-in-out;
}

.open {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  display: visible;
  animation: fadeInRightBig 0.35s forwards;
}

.active {
  color: var(--yellow);
  font-weight: 900;
}

