.wrapper{
   
    text-align: center;
    font-size: 1.5rem;
    width:100%;
}

.imgWrap{
    width:7rem;
    margin:auto;
    margin-bottom: 1rem;

}

.imgWrap > img {
    margin:auto;
    width:inherit;
    height:auto;
}