.icon{
    width:auto;
    height: 30px;
    object-position: center center;
    fill:var(--green);

}

.icon>svg{
    height:inherit;
    width:auto;
}

.wrapper{
    padding: 2rem;
    color: #2b2b22;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    flex-direction:column;
    text-align: center;
}